input{
    padding: 10px;
    min-height: 10px;
    min-width:300px;
    border-radius: 10px;
    border: 1px solid black;
}
button{
    border: none;
    margin-left: 5px;
    min-height: 40px;
    padding: 5px 10px;
    width: 80px;
    border-radius: 10px;
    background-color: rgb(54, 145, 54);
    color: azure;
    cursor: pointer;
}
body{
    text-align: center;
}
#box{
    margin-left: auto;
    margin-right: auto;
    width: 400px;

}
#user{
    width: 200px;
    margin-left: auto;
}
#bot{
    width: 200px;
    margin-right: auto;
}